$blog_per_row: 2;

.blog-section {
    padding-top: 110px;

    @include mq('phone-wide', max) {
        padding: 50px 15px;
        padding-bottom: 0;
    }

    .blog-inner {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@mixin blog-wide($blog_per_row) {
    @for $i from 1 to $blog_per_row+1 {
        &:nth-child(#{$blog_per_row *2}n + #{$blog_per_row + $i}) {
            flex-direction: row-reverse;

            & .blog-desp:before {
                left: auto;
                right: -24px;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

.blog {
    width: 100% / $blog_per_row;
    display: flex;
    justify-content: space-between;
    background: $primary_color;

    @include mq('tablet', min) {
        @include blog-wide($blog_per_row);
    }

    @include mq('tablet', max) {
        width: 100%;

        &:nth-child(2n +2) {
            flex-direction: row-reverse;
        }
    }

    @include mq('phone-wide', max) {
        position: relative;
        background: transparent;
        margin-bottom: 15px;
    }

    .image {
        width: 50%;

        @include mq('phone-wide', max) {
            width: 100%;
            position: absolute;
            z-index: 0;
            display: flex;
            height: 100%;
        }

        img {
            @include mq('phone-wide', max) {
                object-fit: cover;
                object-position: center;
            }

        }


    }

    .blog-desp {
        width: 50%;
        padding: 45px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 25px;
            height: 65px;
            transform: translateY(-50%);
            background: $primary_color;
            top: 50%;
            left: -23px;
            z-index: 0;
            clip-path: polygon(100% 0%, 0 50%, 100% 100%);

            @include mq('phone-wide', max) {
                display: none;
            }
        }

        @include mq('desktop-wide', max) {
            padding: 20px;
        }

        @include mq('phone-wide', max) {
            width: 100%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($primary_color, .8);
            display: flex;
            position: relative;
        }

        p {
            color: $alternative_text_color;
        }

        .category {
            margin-bottom: 15px;

            @include mq('desktop', max) {
                margin-bottom: 10px;
            }
        }

        .title {
            color: $alternative_text_color;
            margin-bottom: 40px;

            @include mq('desktop', max) {
                margin-bottom: 15px;
            }
        }

        .info {
            margin-bottom: 45px;

            @include mq('desktop', max) {
                margin-bottom: 15px;
            }
        }

        .read-more {
            color: $alternative_text_color;
            font-style: italic;

            i {
                transition: all .3s ease-in-out;
            }

            &:hover i {
                transform: translateX(10px);
            }
        }
    }
}