.case-section {
    padding-bottom: 140px;

    @include mq('tablet', max) {
        padding-bottom: 50px;

        & .container {
            max-width: 600px;
        }
    }
}

.case-study {
    position: relative;
    display: flex;
    justify-content: flex-end;
    min-height: 520px;

    .case-info {
        position: absolute;
        width: 57%;
        background: $base_color;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0px 0px 4px 3px rgba($shadow_color, .1);
        padding: 100px 60px;
        left: 0;

        @include mq('tablet', max) {
            width: 100%;
            height: 100%;
            background: rgba($overlay_color, .8);
            padding: 50px 15px;
        }

        .cases {
            width: 100%;
            height: 100%;

            @include mq('phone-wide', max) {
                height: auto;
            }
        }
    }


    .case-image {
        max-width: 50%;
        width: 100%;
        float: right;
        position: relative;
        z-index: 8;

        @include mq('tablet', max) {
            max-width: 100%;
        }

        .slick-track {
            display: flex;

            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.cases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .image {
        width: 75px;
        height: 75px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        @include mq('phone-wide', max) {
            width: 50px;
            height: 50px;
        }

        .square {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(45deg);
            background-color: $primary_color;
        }

        img {
            max-width: 40px;
            max-height: 40px;
            width: auto;
            height: auto;
            filter: brightness(4);
        }
    }

    .title {
        margin-bottom: 25px;

        &.line:after {
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary_text_color;
        }
    }

    .info {
        margin-bottom: 40px;
    }

    .button-group {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.case-slider {
    .slick-slide {
        padding: 15px 0px;
    }

}