.client-section {
    padding: 140px 0px;
    background-color: $alternative_color;

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

    .client-slider {
        .slick-slide>div {
            margin: 25px 0;
            display: flex;

            @include mq('tablet', max) {
                margin: 15px 0;
            }

            &>div {
                display: flex;
                justify-content: center;
                align-items: center;

                @include mq('phone-wide', max) {
                    margin: 0 5px;
                }
            }
        }

        .slick-dots {
            bottom: -33px;
        }
    }
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        max-width: 210px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $base_color;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $primary_color;

            img {
                filter: brightness(4);
            }
        }

        @include mq('phone-wide', max) {
            max-width: 150px;
            height: 50px;
        }


        img {
            max-width: 140px;
            max-height: 60px;
            width: auto;
            height: auto;

            @include mq('phone-wide', max) {
                max-width: 75px;
                max-height: 25px;
            }
        }
    }
}