.container {
    max-width: 1170px;

    @include mq('tablet-wide', max) {
        padding: 0px 15px;
    }
}

.sec-title {
    color: $primary_text_color;

    &.vertical-line:after {
        @include mq('tablet', max) {
            display: none;
        }
    }
}

.title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 15px;

    .sec-title {
        margin-bottom: 25px;
    }
}

.section-padding {
    padding: 140px 0;

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

}

.p-t-0 {
    padding-top: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

// Tilte lines
//=====================================================
.horizontal-line {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $primary_color;
    position: relative;
    margin: 35px auto;
    display: block;

    @include mq('phone', max) {
        margin: 15px auto;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        background-color: $base_color;
        top: 50%;
        transform: translateY(-50%);
        opacity: .5;
    }

    &.alt:before,
    &.alt:after {
        background-color: $secondary_color;
    }

    &:before {
        left: 22px;
    }

    &:after {
        right: 22px;
    }
}

.bottom-line {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background-color: $base-text-color;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.vertical-line {
    position: relative;
    padding-left: 35px;

    @include mq('tablet', max) {
        padding: 0;
    }


    &:after {
        position: absolute;
        content: '';
        width: 6px;
        height: 35px;
        left: 0;
        top: 0;
        background-color: $primary_color;
    }

    &.alt {
        padding-left: 0;
        padding-right: 35px;

        @include mq('tablet', max) {
            padding: 0;
        }

        &:after {
            left: auto;
            right: 0;
        }
    }
}

.line {
    padding-top: 30px;
    position: relative;

    &.alt {
        padding-top: unset;
        padding-bottom: 30px;
    }

    &:after {
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        top: 0;
        left: 0;
        background-color: $base_color;
    }

    &.alt:after {
        top: auto;
        bottom: 0;
    }
}

// Bootstrap Carousel
//=====================================================
.carousel-caption {
    background-color: rgba($black, .7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .caption-inner {
        // max-width: 800px;
        width: 100%;
        margin: 0 auto;

        .title-top {
            margin-bottom: 35px;
            color: $alternative_text_color;

            @include mq('phone', max) {
                margin-bottom: 15px;
            }
        }

        .title {
            color: $alternative_text_color;
            letter-spacing: 6px;

            span {
                color: $primary_color;
            }
        }


        .info {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 60px;
            color: lighten($base_text_color, 20%);

            @include mq('tablet', max) {
                max-width: 500px;
                padding: 0 15px;
            }

            @include mq('phone', max) {
                margin-bottom: 15px;
            }

        }

        .button-group {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.carousel-image {
    display: flex;

    img {
        object-fit: cover;
        object-position: center;
    }
}

.carousel-indicators {
    display: none;

    @include mq('phone-wide', max) {
        display: flex;
        height: 10px;
        top: 85%;
    }
}

.carousel-btn {
    width: 45px;
    height: 45px;
    top: 43.5%;
    transform: translateY(-50%);
    background-color: $bg_secondary_color;
    color: darken($primary_text_color, 20%);
    font-size: 40px;
    border-radius: 3px;

    &:hover {
        background-color: $primary_color;
    }

    @include mq('phone-wide', max) {
        display: none;
    }
}

.carousel-control-prev {
    left: 50px;

    @include mq('tablet', max) {
        left: 15px;
    }
}

.carousel-control-next {
    right: 50px;

    @include mq('tablet', max) {
        right: 15px;
    }
}

// Buttons
//=====================================================
.button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 0px;
    transition: all .3s ease-in-out;
    @include font_open_sans(14, $alternative_text_color, 600, 1);
    text-transform: uppercase;

    @include mq('phone-wide', max) {
        @include font-size(12);
    }
}

.c-btn-lg {
    max-width: 225px;
    width: 100%;
    height: 55px;

    @include mq('phone', max) {
        max-width: 190px;
        height: 40px;
    }
}

.c-btn-md {
    max-width: 145px;
    width: 100%;
    height: 45px;

    @include mq('phone', max) {
        max-width: 190px;
        height: 40px;
    }
}

.c-primary-btn {
    background-color: $primary_color;
    border-color: $primary_color;

    &:hover {
        background-color: transparent;
        color: $primary_color;
    }
}

.c-trans-btn {
    background-color: transparent;
    border-color: $base_color;

    &:hover {
        background-color: $base_color;
        border-color: $primary_color;
        color: $primary_color;
    }
}

// Circle Shape With Image
//==================================================
.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    position: relative;
    text-align: center;

    &:before {
        position: absolute;
        content: '';
        border-radius: 50%;
    }

    img {
        max-height: 40%;
        max-width: 40%;
        width: auto;
        height: auto;
    }
}

@mixin circle($size:75px, $color:$base_color, $hover:false, $hover_color:$primary_color) {
    width: $size;
    height: $size;

    @if $color {
        background-color: $color;
    }

    &:before {
        $border: (7 / 100 * $size);
        width: $size + $border*2;
        height: $size + $border*2;
        border: $border solid rgba($border_color, .25);
    }

    @if $hover {
        &:hover {
            background-color: $hover_color;

            img {
                filter: brightness(4);
            }
        }
    }
}

// Backgrounds 
//=====================================================
.darker-bg {
    background: $shadow_color;
    background: linear-gradient(0deg, rgba($shadow_color, .5) 0%, rgba($base_color, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 14%;
}


// Slick Slider
//=====================================================

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
    height: 100%;
}

.slick-slide {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.slick-dotted.slick-slider {
    margin: 0;
}

.slick-dots {
    bottom: -40px;

    li {
        button {
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $primary_color;
                opacity: .15;
            }
        }
    }
}

.alt .slick-dots {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    bottom: auto;

    @include mq('tablet', max) {
        top: auto;
        bottom: 0px;
        left: 50%;
        flex-direction: row;
    }

    li {
        width: 1px;
        height: 25px;
        margin-bottom: 5px;
        background-color: $alternative_color;

        @include mq('tablet', max) {
            width: 25px;
            height: 1px;
        }

        &.slick-active {
            width: 2px;
            background-color: $primary_color;

            @include mq('tablet', max) {
                width: 25px;
                height: 2px;
            }
        }

        button {
            display: none;
        }
    }
}


// Gallary Grid
//=========================================================
.filters {
    margin: 40px 0px;

    @include mq('tablet', max) {
        margin-top: 0;
        margin-bottom: 20px;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            margin: 0 16px;
            font-size: $base_font_size;
            cursor: pointer;
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 15px;


            &:after {
                position: absolute;
                content: '';
                width: 1px;
                height: 8px;
                background-color: #999;
                right: -16px;
                bottom: 50%;
                transform: translateY(50%) rotate(18deg);
            }

            &:last-child::after {
                display: none;
            }

            &.active {
                color: $primary_color;
            }
        }
    }
}

.grid-item {
    width: (100% / 4) !important;

    @include mq('tablet', max) {
        width: (100% / 3) !important;
    }

    @include mq('phone-wide', max) {
        width: (100%) !important;
    }
}


// Overlay
//=========================================
.overlay {
    position: relative;

    &>div {
        position: relative;
        z-index: 9;
    }

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@mixin overlay($color:$overlay_color, $opacity:.5) {
    &:after {
        background-color: rgba($overlay_color, $opacity);
    }
}


// Go Top
//=========================================

#go-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    background: $primary_color;
    font-size: 30px;
    color: $alternative_text_color;
    display: none;
    transition: all .2s ease-in-out;
    opacity: .6;

    &:hover {
        opacity: 1;
        background: $base_color;
        color: $primary_color;
        border-color: $primary_color;
    }

    i {
        margin-top: -5px;
    }
}