.contact-section {
    background: $alternative_color;
    padding: 150px 0px;

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

    .contact-inner {
        display: flex;
        justify-content: space-between;

        @include mq('tablet', max) {
            flex-direction: column;
        }
    }

}

.contact-address {
    width: 40%;
    background: $base_color;
    padding: 80px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);

    @include mq('tablet', max) {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
    }

    .address {
        margin-bottom: 40px;

        &:last-child {
            margin: 0;
        }

        .title {
            margin-bottom: 15px;
            font-weight: 600;
            color: $primary_color;
        }

        .info h4 {
            font-weight: normal;
            line-height: 1.4;
        }
    }
}

.contact-form {
    width: calc(60% - 30px);
    background: $base_color;
    padding: 80px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);


    @include mq('tablet', max) {
        width: 100%;
        padding: 25px 15px;
    }

    .form-group {
        margin-bottom: 25px !important;
        position: relative;

        .label-text {
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s ease-in-out;

            &.label-active {
                top: -15px;
            }
        }

        .input {
            border: none;
            border-bottom: 1px solid $border_color;
            border-radius: 0;
            @include font_open_sans(12, $base_text_color, inherit, 1.6);

            &:focus,
            &:active {
                outline: none;
                box-shadow: none;

                &+.form-group label {
                    top: -15px;
                }
            }
        }
    }
}