.counter-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0px;

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

    &.overlay {
        @include overlay();
    }
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $alternative_text_color;

    .image {
        .circle {
            @include circle(110px, transparent);
            border: 1px solid $base_color;

            @include mq('tablet', max) {
                @include circle(75px, transparent);
            }

            &:before {
                display: none;
            }

            img {
                filter: brightness(4);
                max-width: 25px;
                max-height: 25px;
                width: auto;
                height: auto;
            }
        }
    }

    .hits {
        margin-top: 40px;
        margin-bottom: 15px;

        span {
            @include font_open_sans(30, '', 700);
            letter-spacing: 3px;
        }
    }

    .title {
        h4 {
            font-weight: normal;
        }
    }
}

.counter-slider {
    .slick-track {
        @include mq('tablet-wide', min) {
            display: flex;
            justify-content: space-between;

            &:before,
            &:after {
                display: none;
            }
        }

        .slick-slide {
            @include mq('tablet-wide', min) {
                width: auto !important;
                display: flex !important;
            }
        }
    }
}