.feature-section {
    border-bottom: 1px solid $border-color;
    padding: 100px 0px;

    @include mq('tablet-wide', max) {
        padding: 50px 0px;
    }

    .row div:last-child .feature {
        margin-bottom: 0;
    }

}

.feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 240px;
    width: 100%;
    cursor: default;

    @include mq('tablet', max) {
        margin-bottom: 50px;
    }

    .image {
        width: 72px;
        height: 72px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .square {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px solid $border_color;
            transition: all .3s ease-in-out;
        }

        img {
            max-width: 20px;
            width: auto;
            max-height: 20px;
            height: auto;
        }
    }

    .title {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .info {}

    &:hover .square {
        transform: rotate(45deg);
        border-color: $primary_color;
    }

    &:hover .title {
        color: $primary_color;
    }
}