.footer-top {
    padding: 140px 0px;
    @include overlay($overlay_color, .6);

    @include mq('tablet', max) {
        padding: 50px 0;
    }

    .inner-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: $alternative_text_color;
        text-align: center;

        .title {
            margin-bottom: 15px;

            h2 {
                font-weight: normal;

                span {
                    font-weight: 700;
                }
            }
        }

        .info {
            margin-bottom: 45px;

            h4 {
                font-weight: normal;
            }
        }
    }
}


.footer-main {
    background: $secondary_color;
    padding: 36px 0px;

    @include mq('phone-wide', max) {
        padding: 15px 0px;
    }

    .inner-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq('phone-wide', max) {
            flex-direction: column;
        }
    }

    .social {
        @include mq('phone-wide', max) {
            margin-bottom: 15px;
        }

        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            li {
                margin-right: 20px;

                a {
                    transition: all .2s ease-in-out;

                    &:hover {
                        color: $primary_color;
                    }
                }
            }
        }
    }
}