.gallary-section {
    padding: 130px 0px;

    @include mq('tablet', max) {
        padding: 50px 15px;
    }
}


.gallary-inner {
    position: relative;

    .gallary-info {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($primary_color, .8);
        color: $alternative_text_color;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;
        opacity: 0;

        .info-inner {
            padding: 45px;
            position: absolute;
            bottom: 0;

            .title {
                margin-bottom: 15px;
            }

            .desp {
                p {
                    color: $alternative_text_color;
                }
            }
        }
    }
}

.grid-item:hover .gallary-info {
    opacity: 1;
}