.header {
    position: absolute;
    z-index: 9;
    width: 100%;

    .navbar {
        margin-top: 30px;
        padding: 0;

        @include mq('tablet', max) {
            margin-top: 15px;
        }

        .navbar-brand {
            @include font_open_sans(30, $primary_color, 600, 1);
            text-transform: uppercase;
            max-width: 150px;

            @include mq('phone-wide', max) {
                max-width: 100px;
            }
        }

        .navbar-toggler {
            max-width: 40px;
            padding: 0;
            margin: 0;
            // padding-bottom: 15px;

            &:focus {
                outline: none;
            }
        }
    }
}

.navbar-nav {
    .nav-item {
        margin: 0 28px;

        @include mq('tablet-wide', max) {
            margin: 0 15px;
        }

        &:last-child {
            margin-right: 0;
        }

        .nav-link {
            @include font_open_sans(14, $alternative_text_color, inherit, 1);
            padding: 15px 0px;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;

            @include mq('phone-wide', max) {
                padding-bottom: 5px;
            }
        }

        &.active .nav-link,
        .nav-link:hover {
            color: $primary_color;
            border-color: $primary_color;
        }
    }
}




.navbar-collapse.collapsing,
.navbar-collapse.show {
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    padding-bottom: 15px;

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}