.history-section {
    padding: 140px 0px;

    @include mq('tablet', max) {
        padding: 100px 0px;
    }

    @include mq('phone-wide', max) {
        padding: 50px 0px;
    }

    .image {
        max-width: 506px;
        width: 100%;

        @include mq('tablet-wide', max) {
            padding-right: 50px;
        }

        @include mq('tablet', max) {
            padding-right: 0px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }

    .history {
        padding-left: 15px;

        @include mq('tablet', max) {
            padding-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .horizontal-line {
            display: none;

            @include mq('tablet', max) {
                display: block;
            }
        }

        .info {
            margin: 50px 0px;

            @include mq('tablet-wide', max) {
                margin: 35px 0px;
            }

            p {
                margin-bottom: 40px;
                line-height: 2.2;

                @include mq('tablet-wide', max) {
                    margin-bottom: 25px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .button-group {
            display: contents;
        }
    }
}