.home-slider {
    height: 100vh;

    .carousel-inner {
        clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);

        .carousel-image {
            height: 95vh;
        }

        .c-btn {
            margin: 0 15px;

            @include mq('phone-wide', max) {
                margin: 5px auto;
            }
        }
    }

    .go-down {
        position: absolute;
        top: 95vh;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .circle {
            @include circle(75px, $alternative_color, hover);
        }
    }

}