$item_number: 3;
$space: 15px;

.pricing-section {
    padding: 150px 0px;

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

    .pricing-inner {
        margin-top: 45px;

        @include mq('tablet', max) {
            margin-top: 0px;
        }

        .pricing-slider {
            .slick-slide {
                margin: 0 7px;

                @include mq('phone-wide', max) {
                    margin: 0;
                }
            }

            .slick-dots {
                bottom: 10px;
            }
        }
    }
}

.pricing {
    // $width: 100% / $item_number;
    // $space_remv: unquote($space) * ($item_number - 1);
    // max-width: calc(#{$width} - #{$space_remv});
    width: 100%;

    .header {
        padding-top: 45px;
        padding-bottom: 130px;
        position: relative;
        background: $bg_secondary_color;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;

        .title {
            color: $alternative_text_color;
        }

        .price {
            position: absolute;
            bottom: 0;
            transform: translateY(50%);

            .circle {
                @include circle(150px, $base_color);

                .text {
                    line-height: 1.6;

                    span {
                        font-size: 30px;
                        font-weight: 800;
                    }
                }
            }
        }

    }

    .body {
        padding-top: 125px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background: $alternative_color;

        .info {
            margin-bottom: 40px;

            p {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .button-group {
            .c-btn {
                background-color: $bg_secondary_color;

                &:hover {
                    background-color: transparent;
                    border-color: $primary_color;
                    color: $primary_color;
                }
            }
        }
    }

    &:hover .header,
    &.hover .header span,
    &:hover .button-group .c-btn {
        background: $primary_color;
        color: $primary_color;
    }

    &:hover .button-group .c-btn {
        color: $alternative_text_color;
    }
}