$spacing: 80px;
$service_height_tablet: 450px;
$service_height_phone: 390px;

.service-section {
    display: flex;

    @include mq('tablet', max) {
        display: block;
        position: relative;
    }

    .services-inner {
        max-width: 55%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $secondary_color;
        padding: 145px $spacing;
        padding-left: 15px;

        @include mq('tablet', max) {
            max-width: 100%;
            position: absolute;
            z-index: 9;
            background-color: rgba($secondary_color, .6);
            padding: 50px 15px;
            height: 100%;
        }



        .sec-title {
            display: flex;
            justify-content: flex-end;
            color: $alternative_text_color;
            margin-bottom: 65px;

            @include mq('tablet', max) {
                justify-content: center;
                margin-bottom: 0px;
            }

        }

        .horizontal-line {
            display: none;

            @include mq('tablet', max) {
                display: block;
            }
        }

        .slider-section {
            transform: translateX($spacing + $spacing/2);
            z-index: 9;

            @include mq('tablet', max) {
                transform: unset;
            }
        }

    }

    .for-services {
        max-width: 45%;
        width: 100%;

        @include mq('tablet', max) {
            max-width: 100%;
            max-height: $service_height_tablet;
        }

        @include mq('phone', max) {
            max-height: $service_height_phone;
        }

        .image {
            display: flex;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;

            @include mq('tablet', max) {
                max-height: $service_height_tablet;
            }

            @include mq('phone', max) {
                max-height: $service_height_phone;
            }

            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.services.slick-slider {
    .slick-list {
        padding: 15px 0px;

        .slick-slide {
            margin: 20px 0px;
        }
    }

    .slick-current .single-service .image .circular-btn {
        background-color: $primary_color;

        img {
            filter: brightness(4);
        }
    }

    .slick-dots {
        bottom: -25px;
        left: -($spacing);

        @include mq('tablet', max) {
            display: block;
            left: 0;
        }
    }
}

.single-service {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px;
    position: relative;

    @include mq('tablet', max) {
        justify-content: center;
        flex-direction: column;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .desp {
        text-align: right;
        max-width: 550px;

        @include mq('tablet', max) {
            text-align: center;
        }

        .title {
            color: $primary_color;
            margin-bottom: 15px;
        }

        .info {}
    }

    .image {
        margin-left: ($spacing / 2) + 5px;
        margin-right: 5px;

        @include mq('tablet', max) {
            margin: 0;
            order: -1;
            margin-bottom: 20px;
        }

        .circle {
            @include circle(75px, $base_color, hover);
        }
    }
}