.team-section {
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @include overlay($overlay_color, .8);

    @include mq('tablet', max) {
        padding: 50px 0px;
    }

    .team-inner {}

}

.team-slider {
    .slick-slide {
        margin: 0 15px;
    }

    .slick-dots {
        bottom: -80px;

        @include mq('phone-wide', max) {
            bottom: -40px;
        }
    }
}

.team-member {
    position: relative;
    overflow: hidden;

    &:hover .team-info {
        transform: translateY(0);
    }

    .team-info {
        position: absolute;
        width: 100%;
        padding: 20px 15px;
        left: 0;
        bottom: 0;
        background-color: rgba($overlay_color, .6);
        transform: translateY(100%);
        transition: all .3s ease-in-out;

        .name {
            margin-bottom: 15px;
        }

        .social {
            display: flex;
            justify-content: flex-start;

            a {
                margin-right: 15px;
                font-size: 15px;

                &:hover {
                    color: $primary_color;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}