// Descriptive color variables
//---------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$mine_shaft: #202020;
$cinnabar: #E74E3E;
$dove_gray: #666666;
$dusty_gray: #999999;
$whisper: #F4F5F9;
$red_orange: #FF3333;
$mercury: #E5E5E5;
$silver: #cccccc;

// Functional color variables
//---------------------------------------------------------------
$base_color: $white;
$primary_color: $cinnabar;
$secondary_color: $mine_shaft;
$alternative_color: $whisper;

$base_text_color: $dusty_gray;
$primary_text_color: $dove_gray;
$alternative_text_color: $white;

$border_color: $mercury;
$shadow_color: $black;

$bg_primary_color: $cinnabar;
$bg_secondary_color: $dusty_gray;

$overlay_color: $black;