// Font Face 
// ==========================================================================
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:400,600,700,800|Roboto:300,400,500,700,900);
//font-family: 'Roboto', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Montserrat', sans-serif;




// Font styles
// ==========================================================================
$base_font_size: 14;

@mixin font_size($size) {
    font-size: ($size / $base_font_size) * 1rem;
}

@mixin font_parameter ($size, $color, $weight, $lh) {
    @if ($size !='') {
        font-size: ($size / $base_font_size) * 1rem;
    }

    @else {
        font-size: 1rem;
    }

    @if ($color !='') {
        color: $color;
    }

    @else {
        color: inherit;
    }

    @if $weight {
        font-weight: $weight;
    }

    @else {
        font-weight: inherit;
    }

    @if $lh {
        line-height: $lh;
    }

    @else {
        line-height: inherit;
    }
}

@mixin font_roboto($size, $color, $weight, $lh:1) {
    font-family: 'Roboto', sans-serif;
    @include font_parameter($size, $color, $weight, $lh);
}

@mixin font_open_sans($size, $color, $weight, $lh:1) {
    font-family: 'Open Sans', sans-serif;
    @include font_parameter($size, $color, $weight, $lh);
}

@mixin font_montserrat($size, $color, $weight, $lh:1) {
    font-family: 'Montserrat', sans-serif;
    @include font_parameter($size, $color, $weight, $lh);
}



// Headings
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    @include font_open_sans(72, '', 700, 1);

    @include mq('tablet', max) {
        @include font_size(40);
    }

    @include mq('phone-wide', max) {
        @include font_size(20);
    }
}

h2 {
    @include font_open_sans(36, '', 600, 1);

    @include mq('tablet', max) {
        @include font_size(30);
    }

    @include mq('phone-wide', max) {
        @include font_size(18);
    }
}

h3 {
    @include font_open_sans(24, '', inherit, 1);

    @include mq('tablet', max) {
        @include font_size(20);
    }

    @include mq('phone-wide', max) {
        @include font_size(16);
    }
}

h4 {
    @include font_open_sans(18, '', 600, 1);

    @include mq('phone-wide', max) {
        @include font_size(14);
    }
}

h5 {
    @include font_open_sans(14, '', inherit, 1.7);
}

// h6 {}

p {
    @include font_open_sans(12, $base_text_color, inherit, 1.6);
}


// body {
//     @include font_roboto(24, '', 1.6, 1.2);
// }