//-------------------------------------------------------------------------
// Circle
//-------------------------------------------------------------------------
@mixin circle($size:40px) {
    // 40px is default value
    width: $size;
    height: $size;
    border-radius: 100%;
}

// .box {
//     @include circle(100px);
//     background: #fc0;
// }

//-------------------------------------------------------------------------
// Absolute Positioned
//-------------------------------------------------------------------------
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// .box {
//     @include absPosition(5px, 20px, 10px, 15px);
// }

//-------------------------------------------------------------------------
// Pseudo
//-------------------------------------------------------------------------
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// div::after {
//     @include pseudo;
//     top: -1rem;
//     left: -1rem;
//     width: 1rem;
//     height: 1rem;
// }



//-------------------------------------------------------------------------
// Placeholders
//-------------------------------------------------------------------------
@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

// input,
// textarea {
//     @include input-placeholder {
//         color: $grey;
//     }
// }

//-------------------------------------------------------------------------
// Media queries
//-------------------------------------------------------------------------
$breakpoints: ("phone": 320px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==min {
            $width: $width + 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// .site-header {
//     padding: 2rem;
//     font-size: 1.8rem;

//     @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
// }


//-------------------------------------------------------------------------
// Responsive ratio
//-------------------------------------------------------------------------
@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote(($y / $x) * 100 + '%');

    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }

    @else {
        padding-top: $padding;
    }
}

// div {
//     @include responsive-ratio(16, 9);
// }